@using MiAgendaTI.Models.ViewModels
@model CrearContactoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear nuevo contacto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5">

            <form asp-controller="Account" asp-action="Register" method="post" class="p-4 border rounded-3 shadow-sm bg-light">
                <h2 class="text-center mb-4">Regístrate</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label"></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Tu nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PrimerApellido" class="form-label"></label>
                    <input asp-for="PrimerApellido" class="form-control" placeholder="Primer Apellido">
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="SegundoApellido" class="form-label"></label>
                    <input asp-for="SegundoApellido" class="form-control" placeholder="Segundo Apellido">
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FechaNacimiento" class="form-label"></label>
                    <input asp-for="FechaNacimiento" class="form-control" placeholder="correo@ejemplo.com">
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>

                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>